.plan {
    background: white;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-family: 'DM Sans',
        sans-serif;
    overflow-x: hidden;
}

.plan-cards {
    display: flex;
    gap: 42px;
    justify-content: center;
    padding-bottom: 140px;
    flex-wrap: wrap;
}



.container3 {
    background: url(../images/pattern222.Lzx5U.png);
    background-repeat: no-repeat;
    width: 75%;
    margin: 0 auto;
    padding: 0 10px;
}

.plan-subtitle {
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: black;
    opacity: 0.7;
    font-size: 14px;
    line-height: 40px;
    margin-top: 50px;
}

.plan-title {
    letter-spacing: 1px;
    color: black;
    font-weight: 600;
    font-size: 36px;
    line-height: 55px;

}

.plan-card-title {
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;

}

.plan-card-subtitle {
    color: #FFFFFF;
    opacity: 0.7;
    font-weight: 10;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
}

.plan .particle {
    top: 732%;
    right: 0;
}

.particle {
    position: absolute;
}

.particle2 {
    position: absolute;
}

.plan .particle2 {
    top: 788%;
    right: 170px;
}

.plan-btn {
    margin-left: 100px;
    width: 170px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 50px;
    color: #2F5392;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.16px;
    cursor: pointer;
}

.plan-inner {
    text-align: center;
    padding-top: 70px;
}

.plan-cards {
    margin-top: 150px;
}

.plan-card {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
    height: 680px;
    border-radius: 10px;
    background: #2F5392;
}


.plan-card-blue:hover {
    transform: scale(1.1);
    z-index: 2;
}

.plan-card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.plan-card,
.plan-card-blue {
    transition: 1s;
}

.plan-card-blue {
    background-color: #e9e3dc;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EDEDED;
    max-width: 480px;
    width: 100%;
    height: 680px;
    border-radius: 10px;
}

.plan-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 12px;


}

.plan-card-advantage {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;

}

.plan-card-title2 {
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #0F2137;
}

.plan-card-subtitle2 {
    opacity: 0.7;
    font-weight: 10;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
    white-space: nowrap;

}

.plan_text {
    margin-right: 210px;
}

.clases {
    position: absolute;

}

.plan-text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 12px;
}

.plan-check {
    margin-top: 9px;
}

.plan-text3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 12px;
    opacity: 0.55;
}


.price-plan {
    margin-left: 200px;
    margin-top: 4px;
}

.price {
    color: #343D48;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.four {
    color: #25CB9E;
    letter-spacing: -0.55px;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
}

.plan-btn-blue {
    width: 170px;
    height: 50px;
    background: #1F3E76;
    border-radius: 50px;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.16px;
    cursor: pointer;
}